:root {
  --backgroundColor: #ffffff;
  --featureListBgColor: #F8F8FA;
  /* --cardBgColor: #ffffff; */
  /* --contactsBgColor: #EEEEEE; */
  --toggleswitchBgColor: #CCC9C5;
  --textColor: #707B8E;
  /* --priceColor: #103755; */
  --buttomnavColor: #103755;
  --border: #eeeeee;
  /* --controlColor: #606775; */
  /* --phoneColor: #000000; */
  /* --navAnchorHover: #000000; */
  /* --inputBorderSelection: #eeeeee; */
  /* --topicColorHover: #000000; */
  /* --gyapuHeader: #031828; */
  /* --cardHoverBoxShadow: 0 2px 4px 0 rgba(158, 155, 155, 0.19), 0 4px 10px 0 rgba(158, 155, 155, 0.19); */
}

.nightmode {
  --backgroundColor: #131314;
  --featureListBgColor: #1E1D1D;
  /* --cardBgColor: #212529; */
  /* --contactsBgColor: #212529; */
  --toggleswitchBgColor: #283141;
  --textColor: #BEC3CA;
  /* --priceColor: #ffffff; */
  --buttomnavColor: #ffffff;
  --border: #3E454D;
  /* --controlColor: #C1C2C4; */
  /* --phoneColor: #ffffff; */
  /* --navAnchorHover: #ffffff; */
  /* --inputBorderSelection: #ffffff; */
  /* --topicColorHover: #ffffff; */
  /* --gyapuHeader: #ffffff; */
  /* --cardHoverBoxShadow: none; */
}




.path {
  color: var(--textColor);
  margin-bottom: 10px;
}

.path .d-flex {
  height: 20px;
}

.path a {
  text-decoration: none;
  color: var(--textColor);
}

.path a:hover {
  color: var(--buttomnavColor);
}

.path-body {
  margin-top: -2px;
  cursor: default;
  font-size: 15px;
  font-weight: 500;
}


.register-login {
  background-color: var(--featureListBgColor);
  font-family: 'Poppins', sans-serif;
  ;
}

.card-box {
  max-width: 390px;
}

.download-block {
  text-align: center;
  height: 100%;
}

.download-text {
  font-size: 34px;
  font-weight: 600;
  color: #ffc60b;
  letter-spacing: -1px;
}

.download,
.get {
  line-height: 40px;
}

.qr-image img {
  width: 40%;
}

.register-login .register-download-link {
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  margin: auto;
  background-color: var(--toggleswitchBgColor);
  border-radius: 5px;
  width: 90%;
}

.register-download-link a {
  color: var(--textColor);
}

.download-block,
.register-block,
.login-block {
  background-color: var(--backgroundColor);
}

.register-block,
.login-block {
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 15px #dfdfdf;
}


.card-box h3 {
  font-size: 24px;
  color: var(--textColor);
  font-weight: 500;
}

.card-box label {
  color: var(--textColor);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px;
}

.card-box label::after {
  content: '*';
  color: red;
  margin-left: 5px;
}

.register-referral::after {
  content: none !important;
}

.card-box input,
.card-box select {
  color: var(--textColor);
  font-size: 14px;
  line-height: 21px;
  background-color: var(--backgroundColor);
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--border);
}

.card-box input:focus {
  border-color: #FFC60B;
}

.card-box select {
  width: 35%;
  padding: 2px 8px;
  box-shadow: none !important;
}

.pwd {
  position: relative;
}

.password-visibility {
  position: absolute;
  bottom: 10;
  right: 15;
  cursor: pointer;
}

.g-recaptcha {
  margin: 0 !important;
  padding: 0 !important;
}

.card-box button {
  color: #103755;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  background-color: #FFC60B;
  width: 100%;
  padding: 7px 0;
  border: none;
  border-radius: 5px;
}






/* for screen < 1200px */
@media only screen and (max-width: 1200px) {
  .second-nav {
    border-bottom: none;
  }

  .path {
    margin-bottom: 0;
  }
}